@model Apparent.Model.ProductMaster
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- ====================================================================================================
  start banner
====================================================================================================== -->
<div class="container-fluid">
    <div class="single_seller" style="background-image: url(/Content/Web//images/banner.png);">

        @*<a href="#"><i class="fa-regular fa-heart"></i> Favourite</a>*@
    </div>
</div>
<!-- // -->
<div class="container-fluid">
    <div class="seller_box">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-4 col-12 mb-0">
                @*<i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>*@
                @*<i class="fa fa-star-half-o" aria-hidden="true"></i><br />
                    <span class="text-white">(150) 4.5 out of 5</span>*@
            </div>
            <div class="col-lg-4 col-md-4 col-12 mb-0 minus_margin">

                <div class="seller_name">
                    <img src="@(Model.DtProductDetails.Rows[0]["ProductIcon"].ToString())" alt="" />
                </div>
                <h3>@Model.ProductName.ToString()</h3>
            </div>
            @{
                var companyid = "";
                if (Session["CompanyId"] != null)
                {
                    companyid = Session["CompanyId"].ToString();
                }
            }
            <div class="col-lg-4 col-md-4 col-12 mb-0">
                <a href="https://my.apparent.software/?ProductId=@Model.DtProductDetails.Rows[0]["Productid"].ToString()" id="pricesecactive"  class="request_btn white_btn mt-2 align_right">Buy Now</a>
                @*<a href="#" class="request_btn white_btn mt-2 align_right">Update Info</a>*@
            </div>
        </div>
    </div>
</div>

<!-- ====================================================================================================
  start software_sec
====================================================================================================== -->

<section class="software_sec" id="softwareSecD">
    <div class="container-fluid">
        <ul class="tabs mt-0 tabCenter_h">
            <div class="tabCenter">
            <li class="active" rel="tab1">Product Information</li>
            @*<li rel="tab2">Reviews</li>*@
            <li rel="tab4">Freatures</li>
            <li rel="tab3">Pricing</li>
           
    </div>
    </ul>




    <div class="tab_container">
        <h3 class="d_active tab_drawer_heading" rel="tab1">Product Information <i class="fa fa-angle-down" aria-hidden="true"></i></h3>
        <div id="tab1" class="tab_content">
            <div class="r_box product_info">
                <h5>Product Information</h5>
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="small_font01">@Model.DtProductDetails.Rows[0]["ProductName"].ToString() Overview</h4>
                        <p class="paragraph">What is @Model.ProductName?</p>
                        <p class="paragraph mb-2">
                            @Model.DtProductDetails.Rows[0]["AboutProduct"].ToString()
                        </p>
                        @*<small>
                                <span id="show-more">Load more <i class="fa fa-angle-down" aria-hidden="true" style="vertical-align: middle;"></i></span>
                            </small>
                            <div id="show-more-content">
                                <p class="paragraph">What is @Model.ProductName?</p>
                                <p class="paragraph">
                                    @Model.DtProductDetails.Rows[0]["AboutProduct"].ToString()
                                </p>
                                <small>
                                    <span id="show-less">Show less</span>
                                </small>
                            </div>*@
                    </div>
                </div>
                <!-- // -->
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="small_font01">Website Details</h4>
                        <div class="details_panel">
                            <h6><img src="~/Content/Web/images/icon06.png" alt="" /><b> Website:</b> <a href="@Model.DtProductDetails.Rows[0]["Website"].ToString()" target="_blank">@Model.DtProductDetails.Rows[0]["Website"].ToString() </a> </h6>
                            @*<h6><img src="~/Content/Web/images/icon10.png" alt="" /><b>Discussion:</b> @Model.ProductName Community</h6>*@
                            <h6>
                                <img src="~/Content/Web/images/icon11.png" alt="" />   <span style="color: black;">@Model.DtProductDetails.Rows[0]["SupportLanguages"].ToString()</span>

                            </h6>
                        </div>
                        <h4 class="small_font01">
                            Product Description
                        </h4>
                        <div style="position: relative;">
                            <p class="paragraph fs04 mb-1" id="desc" style="overflow: hidden; max-height: 100px; transition: max-height 0.3s ease;">
                                @Html.Raw(Model.DtProductDetails.Rows[0]["Description"].ToString().Replace("\n", "<br />"))
                            </p>

                            <div style="text-align: right; margin-top: -5px;">
                                <a href="javascript:void(0);" id="toggleDesc" onclick="toggleDescription()" style="color: #0193D9; font-size: 0.9rem;">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="small_font01">@Model.ProductName Videos</h4>
                        <div class="row mt-4">
                            @for (int z = 0; Model.VideoList.Rows.Count > z; z++)
                            {
                                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                    <video class="video-upload video-child" controls id="videoPlayer_0"
                                           src="@(Model.VideoList.Rows[z]["FilePath"].ToString())" style="width: 100%; height: 100%;"></video>

                                </div>
                            }


                        </div>
                    </div>
                </div>


                <!-- // -->
                @if (@Model.ImagesList != null)
                {
                    <div class="row">


                        <div class="col-lg-12">
                            <h4 class="small_font01">@Model.ProductName Screenshots</h4>

                            <div class="row mt-4">
                                @for (int ab = 0; Model.ImagesList.Rows.Count > ab; ab++)
                                {
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                        <div class="video_pic">

                                            <a href="javascript:void(0);" onclick="openImage('@Model.ImagesList.Rows[ab]["Images"].ToString()')">
                                                <img src="@Model.ImagesList.Rows[ab]["Images"].ToString()" alt="Image">
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>

                        </div>

                    </div>
                }



            </div>
        </div>

        <h3 class="tab_drawer_heading" rel="tab4">Freatures <i class="fa fa-angle-down" aria-hidden="true"></i></h3>
        <div id="tab4" class="tab_content">
            <div class="row selected_features">
                <div class="col-lg-12">
                    <div class="r_box">
                        <h5>Features</h5>
                        <div class="row">
                            @{
                                if (Model.Features1 != null && Model.Features1.Count > 0)
                                {
                                    <div class="col-lg-12">
                                        <h4 class="small_font01">Platform</h4>

                                        <div class="row">


                                            @foreach (var i in Model.Features1)
                                            {
                                                <div class="col-lg-4 col-md-4 col-12 mb-0">
                                                    <ul>
                                                        <li>@i</li>

                                                    </ul>
                                                </div>
                                            }

                                        </div>

                                    </div>
                                }


                            }
                            @{
                                if (Model.Features2 != null && Model.Features2.Count > 0)
                                {
                                    <div class="col-lg-12">
                                        <h4 class="small_font01">Signature Process</h4>
                                        <div class="row">


                                            @foreach (var a in Model.Features2)
                                            {
                                                <div class="col-lg-4 col-md-4 col-12 mb-0">
                                                    <ul>
                                                        <li>@a</li>

                                                    </ul>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                }


                            }
                            @{
                                if (Model.Features3 != null && Model.Features3.Count > 0)
                                {
                                    <div class="col-lg-12">
                                        <h4 class="small_font01">Feature Category 3</h4>
                                        <div class="row">


                                            @foreach (var r in Model.Features3)
                                            {
                                                <div class="col-lg-4 col-md-4 col-12 mb-0">
                                                    <ul>
                                                        <li>@r</li>

                                                    </ul>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                }
                            }
                        </div>

                    </div>
                </div>


            </div>
        </div>
        <!-- #tab2 -->
     
        <!--End-->
        <h3 id="priceh3id" class="tab_drawer_heading" rel="tab3">Pricing <i class="fa fa-angle-down" aria-hidden="true"></i></h3>
        <div id="tab3" class="tab_content">
            <div class="r_box product_info">
                <!-- // -->
                <div class="row" id="reviewSec">
                    <div class="col-lg-12 mb-0">
                        <div class="row">
                            <div class="col-lg-6 col-md-4 col-12">
                                <h4 class="small_font01" style="color: #0193d9;">Pricing</h4>
                            </div>

                            @*<div class="col-lg-6 col-md-4 col-12" align="right">
                                    <a href="#" class="request_btn mt-2">Get a Custom Quote</a>
                                </div>*@
                        </div>
                    </div>
                </div>
                <!-- // -->
                <div class="price_area">
                    <div class="price_pkg">
                        <div class="package-container">
                            @if (Model.subscriptions != null && Model.subscriptions.Count > 0)
                            {
                                for (int i = 0; i < Model.subscriptions.Count; i++)
                                {
                                    var isDecimal = decimal.TryParse(Model.subscriptions[i].Price, out decimal price);
                                    var planNumber = i + 1;

                                    <div class="packages mb-5 p-4 border rounded shadow-sm">
                                        <h1 id="plan@planNumber" class="mb-3">@Model.subscriptions[i].Plan_Name</h1>

                                        <h2 class="text1 mb-4" id="price@planNumber">
                                            $@Model.subscriptions[i].Price/
                                            <span><sub id="tenure@planNumber">@Model.subscriptions[i].Plan_tenure</sub></span>
                                        </h2>

                                        <ul class="list mb-4" style="color: black;" id="Description@planNumber">
                                            @if (Model.subscriptions[i].AdditionalFeatures != null && Model.subscriptions[i].AdditionalFeatures.Length > 0)
                                            {
                                                @Html.Raw(@Model.subscriptions[i].AdditionalFeatures[0])

                                            }
                                        </ul>

                                        <span class="badge badge-pill bg-yellow d-none" id="uniqueid@planNumber">
                                            @Model.subscriptions[i].Plan_uniqueId
                                        </span>

                                        <a href="https://my.apparent.software?ProductId=/@Model.DtProductDetails.Rows[0]["Productid"].ToString()"
                                           class="button button1 mt-3 d-inline-block"
                                           id="@(isDecimal && price > 0 ? "buyprice" : "removeprice")">
                                            @(isDecimal && price > 0 ? "Buy Now" : "Try Now")
                                        </a>
                                    </div>
                                }
                            }




                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
    </div>
</section>

<!-- // responsive view start new-->
<section class="software_sec m_view02">
    <div class="container-fluid">


        <!--//-->
        <ul class="accordion">
            <li>
                <a class="toggle" href=#>Product Information <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <div class="r_box product_info inner">
                    <h5>@Model.ProductName Reviews & Product Details</h5>
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="small_font01">@Model.DtProductDetails.Rows[0]["ProductName"].ToString() Overview</h4>
                            <p class="paragraph">What is @Model.ProductName?</p>
                            <p class="paragraph">
                                @Model.DtProductDetails.Rows[0]["AboutProduct"].ToString()
                            </p>
                            <small>
                                <span id="show-more">Load more <i class="fa fa-angle-down" aria-hidden="true" style="vertical-align: middle;"></i></span>
                            </small>
                            <div id="show-more-content">
                                <p class="paragraph">What is @Model.ProductName?</p>
                                <p class="paragraph">
                                    @Model.DtProductDetails.Rows[0]["AboutProduct"].ToString()
                                </p>
                                <small>
                                    <span id="show-less">Show less</span>
                                </small>
                            </div>
                        </div>
                    </div>
                    <!-- // -->
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="small_font01">@Model.DtProductDetails.Rows[0]["Website"].ToString() Details</h4>
                            <div class="details_panel">
                                <h6><img src="~/Content/Web/images/icon06.png" alt="" /><b> Website:</b> @Model.DtProductDetails.Rows[0]["Website"].ToString()</h6>
                                <h6><img src="~/Content/Web/images/icon10.png" alt="" /><b>Discussion:</b> @Model.ProductName Community</h6>
                                <h6>
                                    <img src="~/Content/Web/images/icon11.png" alt="" /> @Model.DtProductDetails.Rows[0]["SupportLanguages"].ToString()
                                </h6>
                            </div>
                            <p class="paragraph mt-4"><strong>Product Description</strong></p>
                            <p class="paragraph">
                                @Model.DtProductDetails.Rows[0]["Description"].ToString()
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="small_font01">@Model.ProductName Videos</h4>
                            <div class="row mt-4">
                                @for (int z = 0; Model.VideoList.Rows.Count > z; z++)
                                {
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                        <video class="video-upload video-child" controls id="videoPlayer_0"
                                               src="@(Model.VideoList.Rows[z]["FilePath"].ToString())" style="width: 100%; height: 100%;"></video>

                                    </div>
                                }


                            </div>
                        </div>
                    </div>


                    <!-- // -->
                    @if (@Model.ImagesList != null)
                    {
                        <div class="row">


                            <div class="col-lg-12">
                                <h4 class="small_font01">@Model.ProductName Screenshots</h4>

                                <div class="row mt-4">
                                    @for (int ab = 0; Model.ImagesList.Rows.Count > ab; ab++)
                                    {
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                            <div class="video_pic">
                                                <a target="_blank" href="@Model.ImagesList.Rows[ab]["Images"].ToString()">   <img src="@(Model.ImagesList.Rows[ab]["Images"].ToString())" alt="" /></a>
                                            </div>
                                        </div>
                                    }
                                </div>

                            </div>

                        </div>
                    }

                </div>
            </li>

            <li>
                <a class="toggle" href=#>Freatures <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <div class="selected_features inner">

                    <div class="r_box">
                        <h5>@Model.ProductName Features</h5>
                        <div class="row">
                            @{
                                if (Model.Features1 != null && Model.Features1.Count > 0)
                                {
                                    <div class="col-lg-12">
                                        <h4 class="small_font01">Platform</h4>

                                        <div class="row">


                                            @foreach (var i in Model.Features1)
                                            {
                                                <div class="col-lg-4 col-md-4 col-12 mb-0">
                                                    <ul>
                                                        <li>@i</li>

                                                    </ul>
                                                </div>
                                            }

                                        </div>

                                    </div>
                                }


                            }
                            @{
                                if (Model.Features2 != null && Model.Features2.Count > 0)
                                {
                                    <div class="col-lg-12">
                                        <h4 class="small_font01">Signature Process</h4>
                                        <div class="row">


                                            @foreach (var a in Model.Features2)
                                            {
                                                <div class="col-lg-4 col-md-4 col-12 mb-0">
                                                    <ul>
                                                        <li>@a</li>

                                                    </ul>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                }


                            }
                            @{
                                if (Model.Features3 != null && Model.Features3.Count > 0)
                                {
                                    <div class="col-lg-12">
                                        <h4 class="small_font01">Feature Category 3</h4>
                                        <div class="row">


                                            @foreach (var r in Model.Features3)
                                            {
                                                <div class="col-lg-4 col-md-4 col-12 mb-0">
                                                    <ul>
                                                        <li>@r</li>

                                                    </ul>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                }
                            }
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <a class="toggle" href=#>Pricing <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <div class="r_box product_info inner price007">
                    <!-- // -->
                    <div class="row" id="reviewSec">
                        <div class="col-lg-12 mb-0">
                            <div class="row">
                                <div class="col-lg-6 col-md-4 col-12">
                                    <h4 class="small_font01" style="color: #0193d9;">@Model.ProductName Pricing</h4>
                                </div>

                                @*<div class="col-lg-6 col-md-4 col-12" align="right">
                                        <a href="#" class="request_btn mt-2">Get a Custom Quote</a>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                    <!-- // -->
                    <div class="price_area">
                        <div class="show-grid" style="margin: 0 auto; text-align: center;">
                            @*@if (Model.productMaster.subscriptions != null && Model.productMaster.subscriptions.Count > 0)
                                {
                                    foreach (Apparent.Model.subscription subscription in Model.productMaster.subscriptions)
                                    {
                                        <div class="price_card "><div class="price_card_top"><h5 id="plan">@subscription.Plan_Name</h5></div><h2 id="price"> $@subscription.Price<br /><span id="tenure">@subscription.Plan_tenure</span></h2><div class="price_card_btm"><a href="javascript:void(0);" class="cancel_bg mt-2" id="hide01">Cancel</a></div></div>
                                    }
                                }*@

                            @if (Model.subscriptions != null && Model.subscriptions.Count > 0)
                            {


                                for (int i = 0; Model.subscriptions.Count > i; i++)
                                {



                                    var isdecimal = (decimal.TryParse(Model.subscriptions[i].Price, out decimal price));
                                    if (isdecimal && price > 0)
                                    {
                                        <div class="price_card">
                                            <div class="price_card_top">
                                                <h5>@Model.subscriptions[i].Plan_Name</h5>
                                            </div>
                                            <h2>
                                                $@Model.subscriptions[i].Price<small style="font-size: 28%;">USD</small>
                                            </h2>

                                            <span><b>@Model.subscriptions[i].Plan_tenure</b></span>
                                            <p class="pl-2 pr-2">@Model.subscriptions[i].Description</p>
                                            <div class="price_card_btm mt-3">
                                                @*<small style="color: #878787;">For One Person</small><br />*@
                                                <a href="https://my.apparent.software?ProductId=/@Model.DtProductDetails.Rows[0]["Productid"].ToString()" class="request_btn mt-2 mb-3">Buy Now</a>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="price_card">
                                            <div class="price_card_top">
                                                <h5>@Model.subscriptions[i].Plan_Name</h5>
                                            </div>
                                            <h2>
                                                $@Model.subscriptions[i].Price<small style="font-size: 28%;">USD</small>
                                            </h2>

                                            <span><b>@Model.subscriptions[i].Plan_tenure</b></span>
                                            <p class="pl-2 pr-2">@Model.subscriptions[i].Description</p>
                                            <div class="price_card_btm mt-3">
                                                @*<small style="color: #878787;">For One Person</small><br />*@
                                                <a href="~/Payment/Index?ProductId=@Model.DtProductDetails.Rows[0]["ProductId"].ToString()&Plan_Name=@Model.subscriptions[i].Plan_Name&Price=@Model.subscriptions[i].Price&Plan_tenure=@Model.subscriptions[i].Plan_tenure" class="request_btn mt-2 mb-3">Try Now</a>
                                            </div>
                                        </div>
                                    }

                                }

                            }

                        </div>
                    </div>
                </div>
            </li>


        </ul>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.21.0/slimselect.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $(".progressWrapper progress").each(function () {
            var prgsVal = $(this).data("value");
            var maxN = $(this).attr("max");
            var pop = (prgsVal / maxN) * 100;

            $(this)
                .prev()
                .css("left", pop + "%")
                .text(prgsVal);
            $(this).val(prgsVal);
        });


        //$("#pricesecactive").click(function () {
        //    $("li[rel='tab3']").click();


        //});
    });
    function openImage(imageUrl) {
        let win = window.open();
        win.document.write('<img src="' + imageUrl + '" style="width:50%;">');
    }

    function toggleDescription() {
        const desc = document.getElementById("desc");
        const toggleBtn = document.getElementById("toggleDesc");

        if (desc.style.maxHeight === "100px") {
            desc.style.maxHeight = "2500px";
            toggleBtn.innerText = "Read Less";
        } else {
            desc.style.maxHeight = "100px";
            toggleBtn.innerText = "Read More";
        }
    }

    function pricefun(companyid) {

        if (companyid != null && companyid != "") {
            $("li[rel='tab3']").click();
            $(".price007").addClass("show");
            $(".price007").css("display", "block");
        }
        else {
            window.location = "/SignUp/customer_signup";
        }

    }
</script>
<!-- // progress bar end -->
<!-- // select dropdown start -->
<script>
    $(document).ready(function () {
        $(".select2").select2();
    });
</script>
<!-- // select dropdown end -->
<!-- // btn active start -->
<script>
    var selector = ".nav li";

    $(selector).on("click", function () {
        $(selector).removeClass("active");
        $(this).addClass("active");
    });
</script>

<!-- // responsive view accordion start -->
<script>
    $('.toggle').click(function (e) {
        e.preventDefault();

        let $this = $(this);

        if ($this.next().hasClass('show')) {
            $this.next().removeClass('show');
            $this.next().slideUp(350);
        } else {
            $this.parent().parent().find('li .inner').removeClass('show');
            $this.parent().parent().find('li .inner').slideUp(350);
            $this.next().toggleClass('show');
            $this.next().slideToggle(350);
        }
    });
    $(".toggle").click(function () {
        $(this).toggleClass("down");
    });
</script>
<!-- // responsive view accordion end -->

<script>

    function openTab(tabId) {
        // Set the display property of the tab content to "block"
        document.getElementById(tabId).style.display = "block";

        // Optionally, you can also close other tabs if needed

        // Prevent the default behavior of the anchor tag
        return false;
    }

    function subscriptionsubmit(ProductId, Plan_Name, Price, Plan_tenure)
    const fd = new FormData();


    fd.append('ProductId', ProductId);
    fd.append('Plan_Name', Plan_Name);
    fd.append('Price', Price);
    fd.append('Plan_tenure', Plan_tenure);

    $.ajax({
        url: '/Payment/Index',
        method: 'POST',
        async: true,
        contentType: false,
        cache: false,
        processData: false,
        data: fd,
        success: function (data, textStatus, xhr) {

            if (data.code == 200) {



            }
            else if (data.code == 400) {
                swal({
                    title: "OOPS!",
                    text: "something went wrong!",
                    type: "error"
                });
            }
            else if (data.code == 500) {
                swal({
                    title: "OOPS!",
                    text: "something went wrong!",
                    type: "error"
                }, function () {
                    window.location = data.url;
                });
            }

        },
        error: function (xhr, textStatus, errorThrown) {

            swal({
                title: "OOPS!",
                text: "something went wrong!",
                type: "error"
            });
        }
    })
</script>

@if (TempData["FreeTrialErrorMSG"] != null && TempData["FreeTrialErrorMSG"].ToString() == "Internal Server Error. Try After Some Times")
{
    <script>
        swal({
            title: "Error!",
            text: "something went wrong! Try after some times.",
            type: "error"
        });
    </script>
}

@if (TempData["SubcriptionErrorMSG"] != null && TempData["SubcriptionErrorMSG"].ToString() == "Please Use Valid Card")
{
    <script>
        swal({
            title: "Error!",
            text: "Please Use Valid Card.",
            type: "error"
        });
    </script>
}

